<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Image Hosting Service</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать на <span class="cat-title">Image Hosting Service 🐱</span></h1>
        <p>Наш сервис — это не просто хранилище картинок. Это место, где пользователи могут:</p>
        <ul>
            <li>Загружать изображения в популярных форматах (.jpg, .png, .gif) 🖼️</li>
            <li>Быть уверенными, что ваши картинки надежно сохранены 💾</li>
            <li>Получать удобные прямые ссылки на загруженные изображения 🔗</li>
        </ul>
        <div>
            <button class="btn common-btn" onclick="window.location.href='/upload'">Страница загрузки изображений 😻</button>
            <button class="btn common-btn" onclick="window.location.href='/images'">Каталог загруженных изображений 😽</button>
        </div>
    </div>
</body>
</html>
